.fullcenter {
  margin-top: -10em;
  flex: 1 1 auto;
  display: flex;
  overflow: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.page {
  margin-top: 3em;
}

.light {
  font-weight: 300;
}
.heavy {
  font-weight: 700;
}

.socLink {
  font-size: 2.5em;
  color: rgb(92, 92, 92);
  margin-top: 0.125em;
  margin-left: 0.125em;
  margin-right: 0.125em;
}

.socLink:hover {
  color: black;
}

.technologies {
  margin-top: 1.5em;
  font-size: 1.75em;
  color: rgb(155, 155, 155);
}

.iconify {
  margin: 0.1em;
}

.contact-card {
  width: 25em;
  padding: 1em;
}

.name, .email, .message {
  margin-bottom: 1em;
}