.fullcenter {
  margin-top: -10em;
  flex: 1 1 auto;
  display: flex;
  overflow: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.light {
  font-weight: 300;
}
.heavy {
  font-weight: 700;
}

.socLink {
  font-size: 4em;
  color: gray;
  margin-top: 0.125em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.socLink:hover {
  color: black;
}

.portfolio-cards {
  margin-top: 2em;
}