.App {
  flex-direction: column;
  display: flex;
  text-align: center;
  background: url("./assets/cover.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
